<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>GO Dex</title>
    <link rel="stylesheet" href="css/style.css?v=20200726">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="topnav">
      <img id="logo" src="logo.png" alt="GoDex">
      <button id="reset">
        Reset
      </button>
    </div>
    <div class="wrapper" ng-app="app" ng-controller="PokedexController as pokedex" ng-cloak>
      <span ng-init="regions = ['kanto', 'johto', 'hoenn', 'sinnoh', 'unova', 'unknown', 'galar', 'mega']"></span>
      <div class="jump">
        <a ng-repeat="region in regions" href="#{{ region }}">
          {{ region | uppercase }}
        </a>
      </div>
      <div ng-repeat="region in regions" class="section">
        <div class="section-label" id="{{ region }}">
          {{ region | uppercase }}
        </div>
        <div class="columns" ng-repeat="pokemon in pokedex.pokedexService[region]">
          <label class="container" id="container-{{ pokemon.id }}">
            <input type="checkbox" id="{{ pokemon.id }}">
            <span class="checkmark"></span>
            <div class="pokemon-name">
              <span ng-if="region !== 'mega'">
                #{{ pokemon.id | limitTo : 3 }}
              </span>
              {{ pokemon.name }}
            </div>
            <div class="pokemon-form">
              {{ pokemon.form }}
            </div>
            <figure data-href="{{ pokemon.imgSrc || 'https://www.serebii.net/pokemongo/pokemon/' + pokemon.id + '.png' }}" class="pokemon-image progressive replace"></figure>
          </label>
        </div>
      </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js'></script>
    <script src="js/main.js?v=20200726"></script>
    <script src="js/progressive-image.js"></script>
  </body>
</html>